<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">
    <ion-button (click)="onClick()" expand="block" shape="round">
        Mostrar Alerta
    </ion-button>
    <ion-button (click)="onClick2()" expand="block" shape="round">
        Mostrar Alerta Botones Multiples
    </ion-button>
    <ion-button (click)="onClick3()" expand="block" shape="round">
        Mostrar Confirm
    </ion-button>
    <ion-button (click)="onClick4()" expand="block" shape="round">
        Prompt
    </ion-button>
    <ion-button (click)="onClick5()" expand="block" shape="round">
        Radio
    </ion-button>
    <ion-button (click)="onClick6()" expand="block" shape="round">
        checkbox
    </ion-button>
</ion-content>
